:root {
  --main-color: rgb(53, 53, 53);
  --main-color-light: rgb(71, 71, 71);
  --line-color: rgb(77, 77, 77);
  --sec-color: rgb(114, 161, 120);
  --text-light: whitesmoke;
  --text-dark: black;
}

* {
  margin: auto;
  padding: 0;
  color: var(--text-light);
  text-align: center;

  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  height: 100%;
  background-color: var(--main-color);
}

p {
  margin: 1rem 0rem 1rem 0rem;
}

input {
  color: var(--text-dark);
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.2rem;
}

button {
  color: var(--text-dark);
  margin: 0.5rem;
  padding: 0.2rem;
}

.header {
  background-color: var(--main-color);
  color: var(--text-light);
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.header > div > p {
  margin-top: 0rem;
  padding: 0rem;
}

.userinfo {
  height: 3rem;
  border: 1px solid var(--line-color);
  border-radius: 50%;
}

.search-panel {
  width: 100%;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-panel > p {
  margin-bottom: 0rem; /* remove to avoid double padding */
}

.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.options {
  max-width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.options > button {
  flex-grow: 1;
  max-width: 10rem;
}

.albums-list {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-card {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: var(--main-color-light);
  margin: 1rem;
  padding: 1rem;
  width: 18%;
}

.img-container {
  padding: 0rem;
}

.img-container > img {
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
}

.album-card > div {
  width: 100%;
  display: flex;
}

.album-card > div > p {
  width: 100%;
  text-align: left;
}

.play-button {
  width: 8%;
  fill: var(--main-color);
}

.content {
  max-width: 75rem;
}

.card-selected {
  box-shadow: 0 0 1rem 0.5rem var(--sec-color);
}

.playing {
  fill: var(--sec-color);
}

@media only screen and (max-width: 1000px) {
  .album-card {
    width: 25%;
  }
}

@media only screen and (max-width: 800px) {
  .album-card {
    width: 40%;
  }
}
